/**

Stylesheet for Tourpress Documentation

**/
.md-typeset img {
    border: 3px solid #b7b7b75e;
}

.md-typeset h1 {
    color: #03a9f4;
    font-weight: bold;
    border-bottom: 2px solid #edf5f9;
    padding-bottom: 20px;
    margin: 0;
}

.md-typeset h2 {
    font-weight: 400;
    font-weight: bold;
    margin: 25px 0 5px 0;
}
